.section{
    margin-top: 100px;
    padding:15px;
}
.section_title{
    font-size: 10px;
    color: #999999;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;

}
.section_subtitle{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 45px;
    font-family: "playfair display";
    letter-spacing: 5px;
    line-height: 1.8;
}
