.sidebar_hamburger{
    position: fixed;
    top:0;
    left:0;
    padding: 30px 15px;
    font-size: 24px;
    z-index: 10;
    cursor: pointer;
    transition-delay: 500ms;

}

.sidebar_content{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 5;
    height: 100vh;
    background: #999;

}
.sidebar_hamburger_translate{
    transform: translate(300px);
}
.sidebar_content{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 5;
    height: 100vh;
    background: #999;
    transition-delay: 500ms;
    transform: translate(-300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar_content u1{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar_hamburger_translate + .sidebar_content {
    transform: translateX(0);
}

