.skill_box{
  margin-bottom: 20px;

}
.skill_box>p{
    color: #555555;
    margin-bottom: 15px;

    
}
.skill_grey_box{
    background: #999;
    border-radius: 6px;
}
.skill_color_box{
    background: blue;
    width:88%;
    border-radius: 6px;
    height: 6px;
    color: blue;
    position:relative;
}
.skill_color_box > span{
    position:absolute;
    right:0;
    top:-22px;
    color:inherit;
}
